.fab{
  padding: auto;
}
ion-title{
  text-align: center;
}
ion-item-option{
  //width: 15%;
  //text-align: center;
}
.is-done{
  //background-color: #0ec254;
  //text-decoration-style: dashed;
  text-decoration: line-through;
  background-color: #28e070;
  //color: #7e57ff;
  //.ion-item{
  //  background-color: red;
  color: red;
  //}
  opacity: 0.3;
}

item{
background-color: blueviolet;

}
.item {
  //color: red;

  //background-color:#000000;
}

