ion-title{
  text-align: center;
}
.is-done{
  //background-color: #0ec254;
  //text-decoration-style: dashed;
  text-decoration: line-through;
  background-color: #28e070;
  //color: #7e57ff;
  //.ion-item{
  //  background-color: red;
  color: red;
  //}
  opacity: 0.3;
}

diet{
  background-color: blueviolet;

}
.diet {
  //color: red;

  //background-color:#000000;
}
